.age p {
  color: var(--clr-off-black);
  font-size: 3rem;
  font-weight: var(--fw-800);
  font-style: italic;
}

.age span {
  color: var(--clr-purple);
}

@media screen and (min-width: 768px) {
  .age p {
    font-size: 6rem;
  }
}
