.divider {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;

  position: relative;
}

.divider-line {
  background-color: var(--clr-light-grey);
  height: 1px;
  width: 100%;
}

.divider-btn {
  border: none;
  background: var(--clr-purple) url('../../assets/images/icon-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  transition: all 0.3s ease-in-out;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.divider-btn:hover {
  background-color: var(--clr-off-black);
}
