#root {
  background-color: var(--clr-white);
  border-radius: 1.5rem 1.5rem 6.25rem 1.5rem;
  padding: 3rem 1.5rem;
  width: 90%;
  max-width: 840px;

  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
